 /* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(249, 247, 247);
    
}

.navbar img {
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    font-size: 1rem;
}

.nav-menu li {
    cursor: pointer;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu li:hover {
    color: #DA7C25;
}

.anchor-link{
    text-decoration: none;
     color: black;
}

@media (max-width: 768px) {
    /* Tablet and mobile screens */
    .navbar {
        padding: 1rem;
    }

    .nav-menu {
        gap: 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    /* Small mobile screens */
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    .navbar img {
        margin-bottom: 1rem;
    }

    .nav-menu {
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1rem;
    }
}

.nav-menu li:hover {
    color: #ffdd57; /* Highlight color on hover */
}

.nav-connect {
    background:linear-gradient(276deg,#DA7C25 0.36%,#B923E1); /* Background color for the connection section */
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
    background-color: #ffdd57;
    color: #333;
}
